<div class="list">
  <app-add-bar
    class="add_bar"
    [nbItems]="block_todo.todos_list.length"
    [nextId]="block_todo.next_id_todo"
    [completedItems]="number_completed_items"
    (addToList)="addToList($event)"
    (activeAll)="checkAll()"
  ></app-add-bar>
  <div class="list_todo">
    <app-todo
      *ngFor="let todo of filtered_list"
      [todo]="todo"
      (clearTodo)="clear($event)"
      (activeTodo)="activeTodo($event)"
      (changeName)="changeNameTodo($event)"
    ></app-todo>
  </div>

  <app-todo-list-filter
    *ngIf="block_todo.todos_list.length !== 0"
    [completed_items]="number_completed_items"
    [number_items]="block_todo.todos_list.length"
    [active_filter_mod]="block_todo.active_filter"
    (changeFilterMod)="changePrint($event)"
    (clearCompleted)="clearCompletedItems()"
  ></app-todo-list-filter>
  <div class="undo_redo">
    <button class="undo" (click)="undo()">
      <img class="undo_icon" src="../../assets/undo.png" />
    </button>
    <button class="redo">
      <img class="redo_icon" src="../../assets/undo.png" />
    </button>
  </div>
</div>
