<div class="down_bar">
  <div class="info">
    <p *ngIf="number_items - completed_items < 2">
      {{ number_items - completed_items }} item left
    </p>
    <p *ngIf="number_items - completed_items > 1">
      {{ number_items - completed_items }} items left
    </p>
  </div>
  <div class="filter_mod">
    <button
      class="filter_button"
      [ngClass]="{
        'filter_button--checked': active_filter_mod === filter_mod.All
      }"
      (click)="changePrint(filter_mod.All)"
    >
      All
    </button>
    <button
      class="filter_button"
      [ngClass]="{
        'filter_button--checked': active_filter_mod === filter_mod.Active
      }"
      (click)="changePrint(filter_mod.Active)"
    >
      Active
    </button>
    <button
      class="filter_button"
      [ngClass]="{
        'filter_button--checked': active_filter_mod === filter_mod.Completed
      }"
      (click)="changePrint(filter_mod.Completed)"
    >
      Completed
    </button>
  </div>
  <!-- <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
    <mat-button-toggle
      (click)="changePrint(filter_mod.All)"
      [checked]="active_filter_mod === filter_mod.All"
      >All</mat-button-toggle
    >
    <mat-button-toggle
      (click)="changePrint(filter_mod.Active)"
      [checked]="active_filter_mod === filter_mod.Active"
      >Active</mat-button-toggle
    >
    <mat-button-toggle
      (click)="changePrint(filter_mod.Completed)"
      [checked]="active_filter_mod === filter_mod.Completed"
      >Completed</mat-button-toggle
    >
  </mat-button-toggle-group> -->
  <div class="clear_all" *ngIf="completed_items !== 0">
    <button class="clear_all_button" (click)="clearCompletedItems()">
      Clear Completed
    </button>
  </div>
</div>
