<div class="down_bar">
  <div class="info" *ngIf="number_items !== 0">
    <p *ngIf="number_items - completed_items < 2">
      {{ number_items - completed_items }} item left
    </p>
    <p *ngIf="number_items - completed_items > 1">
      {{ number_items - completed_items }} items left
    </p>
  </div>
  <mat-button-toggle-group
    *ngIf="number_items !== 0"
    name="fontStyle"
    aria-label="Font Style"
    value="All"
  >
    <mat-button-toggle value="All" (click)="changePrint(filter_mod.All)"
      >All</mat-button-toggle
    >
    <mat-button-toggle value="Active" (click)="changePrint(filter_mod.Active)"
      >Active</mat-button-toggle
    >
    <mat-button-toggle
      value="Completed"
      (click)="changePrint(filter_mod.Completed)"
      >Completed</mat-button-toggle
    >
  </mat-button-toggle-group>
  <div class="clear_all" *ngIf="completed_items !== 0">
    <button (click)="clearCompletedItems()">Clear Completed</button>
  </div>
</div>
