<div>
  <button
    class="left_arrow"
    [disabled]="first_element"
    (click)="switchList(-1)"
    [ngClass]="{ 'left_arrow--disabled': first_element }"
  >
    <img class="left_arrow_image" src="../../assets/left-arrow.png" />
  </button>
  <h1 *ngIf="!edit" (dblclick)="editTitle()" class="tittle">
    {{ block_todo.title }}
  </h1>
  <input
    class="editing"
    *ngIf="edit"
    (keyup.enter)="endEdit($event)"
    (blur)="endEdit($event)"
    value="{{ block_todo.title }}"
    autofocus
  />
  <button
    class="right_arrow"
    [disabled]="last_element"
    (click)="switchList(+1)"
    [ngClass]="{ 'right_arrow--disabled': last_element }"
  >
    <img class="right_arrow_image" src="../../assets/right-arrow.png" />
  </button>
</div>
