
.tittle{
	position: absolute;
	top: 60px;
	left: 0px;
	width: 100%;
	font-size: 100px;
	font-weight: bold;
	text-align: center;
	color: rgba(175, 47, 47, 0.15);
	-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.left_arrow{
	position: absolute;
	top : 50px;
	left: 300px;
}

.right_arrow{
	position: absolute;
	top : 50px;	
	right: 300px;
}

.mat-icon{
	height: 50px;
	width: 50px;
    align-items: center;
	font-size: 65px;
}

.editing{
	position: absolute;
	margin: 0;
	width: 550px;
	font-size: 24px;
	font-family: inherit;
	font-weight: inherit;
	line-height: 1.4em;
	border: 0;
	color: inherit;
	padding: 6px;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	padding: 16px 16px 16px 60px;
	top:50px;
}

button {
	z-index: 5;
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
	-webkit-appearance: none;
	appearance: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: pointer;
}

.right_arrow_image, .left_arrow_image{
	width: 50px;
}

.left_arrow--disabled, .right_arrow--disabled{
	opacity: 0.2;
}


