<div class="todo_unit">
  <mat-checkbox
    [checked]="todo.active"
    (change)="changeActive()"
  ></mat-checkbox>
  <div class="todo_value_div" *ngIf="!edit" (dblclick)="editTodo()">
    <p
      class="todo_value"
      [ngClass]="{
        'todo_value--check': todo.active
      }"
    >
      {{ todo.value }}
    </p>
  </div>
  <input
    class="editing"
    *ngIf="edit"
    (keyup.enter)="endEdit($event)"
    (keyup.escape)="cancelEdit()"
    value="{{ todo.value }}"
    autofocus
  />
  <button
    class="clear_cross"
    mat-fab
    ng-module="{color: 'blue'}"
    (click)="clear()"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>
